# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# output
/dist
/build
/coverage
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# secrets
.env*.local
*.pem

# editors
/.idea
/.vscode

# misc
.DS_Store
.