/* GENERATED */

$gray-100: rgba(237, 237, 237, 100%);
$gray-200: rgba(214, 214, 214, 100%);
$gray-300: rgba(186, 186, 186, 100%);
$gray-400: rgba(161, 161, 161, 100%);
$gray-50: rgba(247, 247, 247, 100%);
$gray-500: rgba(133, 133, 133, 100%);
$gray-600: rgba(105, 105, 105, 100%);
$gray-700: rgba(79, 79, 79, 100%);
$gray-800: rgba(51, 51, 51, 100%);
$gray-900: rgba(26, 26, 26, 100%);
$gray-950: rgba(20, 20, 20, 100%);
$green-100: rgba(236, 253, 231, 100%);
$green-200: rgba(197, 243, 185, 100%);
$green-300: rgba(147, 224, 128, 100%);
$green-400: rgba(100, 213, 72, 100%);
$green-500: rgba(64, 186, 33, 100%);
$green-600: rgba(45, 150, 19, 100%);
$green-700: rgba(31, 113, 10, 100%);
$green-800: rgba(27, 91, 11, 100%);
$green-900: rgba(17, 67, 4, 100%);
$purple-100: rgba(241, 231, 254, 100%);
$purple-200: rgba(227, 208, 251, 100%);
$purple-300: rgba(201, 165, 248, 100%);
$purple-400: rgba(181, 132, 245, 100%);
$purple-500: rgba(148, 81, 236, 100%);
$purple-600: rgba(115, 32, 223, 100%);
$purple-700: rgba(94, 21, 188, 100%);
$purple-800: rgba(73, 15, 149, 100%);
$purple-900: rgba(45, 3, 99, 100%);
$red-100: rgba(254, 226, 226, 100%);
$red-200: rgba(254, 202, 202, 100%);
$red-300: rgba(252, 165, 165, 100%);
$red-400: rgba(248, 113, 113, 100%);
$red-500: rgba(239, 68, 68, 100%);
$red-600: rgba(220, 38, 38, 100%);
$red-700: rgba(185, 28, 28, 100%);
$red-800: rgba(153, 27, 27, 100%);
$red-900: rgba(127, 29, 29, 100%);
