@keyframes snow {
  0% {
    background-position:
      0 0,
      0 0,
      0 0;
  }
  100% {
    background-position:
      3600px 4800px,
      3200px 3200px,
      2500px 3000px;
  }
}

body {
  animation: snow 180s linear infinite;
  background-image: url("/snow-1.svg"), url("/snow-2.svg"), url("/snow-3.svg");
  background-size:
    600px 600px,
    400px 400px,
    250px 250px;
}
