:root {
  --fc-neutral-bg-color: #31273b;
  --fc-page-bg-color: var(--color-background-dark);
  --fc-border-color: #444;
  --fc-list-event-hover-bg-color: #555;
  --fc-event-bg-color: #6E35A2;
  --fc-event-border-color: #9A2EFF;
  --fc-button-bg-color: #222;
  --fc-button-border-color: #111;
  --fc-button-hover-bg-color: #222;
  --fc-button-hover-border-color: #111;
  --fc-button-active-bg-color: #3b2452;
  --fc-button-active-border-color: #111;

}

.fc .fc-timegrid-slot-minor {
  @apply border-t-0;
}

.fc .fc-timegrid-slot-label {
  @apply border-t-0 relative text-xs text-white/50 pr-1 align-top top-[-0.5rem];
}

.fc-header-toolbar.fc-toolbar {
  @apply flex-wrap-reverse;
}
