@reference "../../app/styles.css";

:root {
  --fc-neutral-bg-color: rgba(149, 52, 244, 0.2);
  --fc-page-bg-color: var(--color-pagebg);
  --fc-border-color: rgba(var(--color-inactive-rgb) / 0.5);
  --fc-list-event-hover-bg-color: var(--color-primary-hover);
  --fc-event-bg-color: var(--color-brand-violet);
  --fc-event-border-color: var(--color-brand-violet);
  --fc-button-bg-color: var(--color-primary);
  --fc-button-hover-bg-color: var(--color-primary-hover);
  --fc-button-active-bg-color: var(--color-primary-hover);
  --fc-button-text-color: var(--color-contrast);
}

.fc {
  .fc-scroller {
    scrollbar-width: none;
  }

  .fc-timegrid-slot-minor {
    @apply border-t-0;
  }

  .fc-timegrid-slot-label {
    @apply relative top-[-0.5rem] border-t-0 pr-1 align-top text-xs text-gray-500;
  }

  .fc-header-toolbar.fc-toolbar {
    @apply mb-0 gap-y-2 overflow-x-auto;

    .fc-toolbar-chunk {
      @apply flex items-center justify-center gap-1;
    }

    .fc-button {
      @apply m-0 rounded-xl border-0 text-base text-nowrap outline-0;

      &:focus-visible {
        @apply border-0 outline-0;
      }
    }

    .fc-toolbar-title {
      @apply m-0 inline min-w-[85px] text-center text-base;
    }

    .fc-toolbar-chunk div:has(.fc-toolbar-title) {
      @apply bg-primary flex items-center justify-center gap-1 rounded-xl border-0 outline-0;
    }
  }

  .fc-scrollgrid {
    @apply border-none;
  }

  .fc-scrollgrid-section:has(.fc-timegrid-divider) {
    @apply h-0;
  }

  .fc-scrollgrid-sync-table {
    height: unset !important;
  }

  .fc-scrollgrid-section > td {
    border-bottom-style: dashed;
  }
  .fc-scrollgrid-section.fc-scrollgrid-section-liquid > td {
    border-bottom-style: none;
  }

  .fc-col-header-cell-cushion {
    @apply text-lg text-gray-500;
  }

  .fc-day-today {
    .fc-col-header-cell-cushion {
      @apply text-contrast font-medium;
    }
  }

  .week-cell {
    @apply text-xs text-gray-500;
  }

  .fc-list-empty-cushion {
    /* No Events label */
    @apply h-[50dvh];
  }

  .fc-scrollgrid-section-header th {
    @apply font-normal;
  }

  .fc-event-title {
    @apply font-medium;
  }

  .fc-list-day-text {
    @apply font-medium;
  }

  .fc-list-day-side-text {
    @apply min-h-full align-bottom font-light text-gray-600 dark:text-gray-500;
  }

  .fc-list-day.fc-day-today .fc-list-day-text::after {
    content: "today";
    @apply ml-2 inline-flex h-7 w-fit items-center justify-center rounded-md bg-red-500 px-1 font-medium text-white;
  }

  .fc-daygrid-day-events {
    @apply !m-0 !min-h-0;
  }

  .fc-timegrid-divider {
    @apply hidden;
  }

  .fc-timegrid-now-indicator-line {
    @apply rounded-full !border-2;
  }

  .fc-timegrid-now-indicator-arrow {
    @apply w-full border-none pr-2 text-right text-xs font-medium text-[red];
  }

  .fc-day-today {
    background-color: unset !important;
  }

  .fc-day-today .fc-daygrid-day-number {
    @apply inline-flex h-7 w-fit items-center justify-center rounded-md bg-red-500 px-1 font-medium text-white;
  }

  .fc-timegrid-event-harness-inset .fc-timegrid-event {
    @apply shadow-none;
  }

  /* Selection styles */
  .fc-highlight {
    @apply bg-brand-violet;
  }
}

.calendar-loading .fc-view-harness::before {
  /* Loading state */
  @apply absolute top-0 right-0 left-0 h-[2px] bg-white;
  content: "";
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  0% {
    left: -20%;
    right: 100%;
  }
  100% {
    left: 100%;
    right: -20%;
  }
}
