@reference "../../app/styles.css";

:root {
  --fc-neutral-bg-color: rgba(149, 52, 244, 0.2);
  --fc-page-bg-color: var(--color-base-100);
  --fc-border-color: rgba(var(--color-inh-inactive-rgb) / 0.5);
  --fc-list-event-hover-bg-color: var(--color-base-300);
  --fc-event-bg-color: var(--color-primary);
  --fc-event-border-color: var(--color-primary);
  --fc-button-bg-color: var(--color-base-200);
  --fc-button-hover-bg-color: var(--color-base-300);
  --fc-button-active-bg-color: var(--color-base-300);
  --fc-button-text-color: var(--color-base-content);
}

.fc {
  .fc-scroller {
    scrollbar-width: none;
  }

  .fc-timegrid-slot-minor {
    @apply border-t-0;
  }

  .fc-timegrid-slot-label {
    @apply relative top-[-0.5rem] border-t-0 pr-1 align-top text-xs text-gray-500;
  }

  .fc-header-toolbar.fc-toolbar {
    @apply mb-0 gap-x-0.5 gap-y-2 overflow-x-auto px-1;

    /* Shadow on the right side of a toolbar visible on the right when we can scroll to right */
    @media (max-width: 450px) {
      mask-image: linear-gradient(to left, transparent 0, black 24px);
      -webkit-mask-image: -webkit-linear-gradient(
        to left,
        transparent 0,
        black 24px
      );
    }

    .fc-button {
      @apply m-0 rounded-xl border-0 text-base text-nowrap;
      /* Make consistent size when focus */
      &:focus:not(:focus-visible) {
        @apply shadow-none outline-none;
      }
      &:focus-visible {
        @apply shadow-none outline-1 -outline-offset-1;
      }
    }

    .fc-toolbar-chunk {
      @apply flex items-center justify-center gap-1;

      /* Month title container with < > buttons */
      div:has(.fc-toolbar-title) {
        @apply bg-base-200 flex items-center justify-center gap-0.5 rounded-xl border-0 py-0 outline-0;
      }
      .fc-toolbar-title {
        @apply m-0 inline w-fit text-center text-base;
      }
      /* < > buttons */
      .fc-next-button,
      .fc-prev-button {
        @apply px-2.5;
      }
      .fc-icon-chevron-left,
      .fc-icon-chevron-right {
        @apply my-1 flex items-center text-base;
      }

      /* Merge "3 days", "Week", "Month", "List" in one toggle */
      &:has(.fc-listMonth-button) {
        @apply gap-0;
        button {
          @apply rounded-none;
        }
        :first-child {
          @apply rounded-l-xl;
        }
        :last-child {
          @apply rounded-r-xl;
        }
      }
    }

    /* Config button with icon */
    .fc-config-button {
      @apply flex items-center justify-center gap-1;
      font-variant-ligatures: none;
      &:before {
        content: "<span></span>";
        @apply icon-[material-symbols--settings-outline] my-[2px] text-xl;
      }
    }
  }

  .fc-scrollgrid {
    @apply border-none;
  }

  .fc-scrollgrid-section:has(.fc-timegrid-divider) {
    @apply h-0;
  }

  .fc-scrollgrid-sync-table {
    height: unset !important;
  }

  .fc-scrollgrid-section > td {
    border-bottom-style: dashed;
  }
  .fc-scrollgrid-section.fc-scrollgrid-section-liquid > td {
    border-bottom-style: none;
  }

  .fc-col-header-cell-cushion {
    @apply text-lg text-gray-500;
  }

  .fc-day-today {
    .fc-col-header-cell-cushion {
      @apply text-base-content font-medium;
    }
  }

  .week-cell {
    @apply text-xs text-gray-500;
  }

  .fc-list-empty-cushion {
    /* No Events label */
    @apply h-[50dvh];
  }

  .fc-scrollgrid-section-header th {
    @apply font-normal;
  }

  .fc-event-title {
    @apply font-medium;
  }

  .fc-list-day-text {
    @apply font-medium;
  }

  .fc-list-day-side-text {
    @apply min-h-full align-bottom font-light text-gray-600 dark:text-gray-500;
  }

  .fc-list-day.fc-day-today .fc-list-day-text::after {
    content: "today";
    @apply ml-2 inline-flex h-7 w-fit items-center justify-center rounded-md bg-red-500 px-1 font-medium text-white;
  }

  .fc-daygrid-day-events {
    @apply !m-0 !min-h-0;
  }

  .fc-timegrid-divider {
    @apply hidden;
  }

  .fc-timegrid-now-indicator-line {
    @apply rounded-full !border-2;
  }

  .fc-timegrid-now-indicator-arrow {
    @apply w-full border-none pr-2 text-right text-xs font-medium text-[red];
  }

  .fc-day-today {
    background-color: unset !important;
  }

  .fc-day-today .fc-daygrid-day-number {
    @apply inline-flex h-7 w-fit items-center justify-center rounded-md bg-red-500 px-1 font-medium text-white;
  }

  .fc-timegrid-event-harness-inset .fc-timegrid-event {
    @apply shadow-none;
  }

  /* Selection styles */
  .fc-highlight {
    @apply bg-primary;
  }
}

.calendar-loading .fc-view-harness::before {
  /* Loading state */
  @apply absolute top-0 right-0 left-0 h-[2px] bg-white;
  content: "";
  animation: loading 1.5s infinite linear;
}

@keyframes loading {
  0% {
    left: -20%;
    right: 100%;
  }
  100% {
    left: 100%;
    right: -20%;
  }
}
