@import "@fontsource-variable/rubik";
@import "@fontsource/fuzzy-bubbles";
@import "@fontsource/roboto";
@import "../components/sport/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply bg-pagebg;
    color-scheme: light;
    accent-color: var(--color-brand-violet);

    --color-brand-violet: 151 71 255; /* #9747FF */
    --color-brand-gradient-start: 154 46 255; /* #9A2EFF */
    --color-brand-gradient-end: 209 35 162; /* #D1233E */

    --color-pagebg: 255 255 255; /* #FFFFFF */
    --color-primary: 235 237 239; /* #EBEDEF */
    --color-primary-hover: 223 225 229; /* #DFE1E5 */
    --color-floating: 242 243 245; /* #F2F3F5 */
    --color-secondary: 227 229 232; /* #E3E5E8 */
    --color-secondary-hover: 210 212 216; /* #D2D4D8 */
    --color-inactive: 138 138 138; /* #8A8A8A */
    --color-contrast: 0 0 0; /* #000000 */
  }
  :root[class~="dark"] {
    color-scheme: dark;
    --color-pagebg: 11 11 11; /* #0B0B0B */
    --color-primary: 38 38 38; /* #262626 */
    --color-primary-hover: 28 28 28; /* #1C1C1C */
    --color-floating: 27 27 27; /* #1B1B1B */
    --color-secondary: 34 34 34; /* #222222 */
    --color-secondary-hover: 55 55 55; /* #373737 */
    --color-inactive: 105 105 105; /* #696969 */
    --color-contrast: 255 255 255; /* #FFFFFF */
  }
}

@layer components {
  .selected {
    @apply bg-gradient-to-r from-brand-gradient-start to-brand-gradient-end bg-clip-text text-transparent;
  }
}

.rubles-input {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='48px' width='192px'><text x='164' y='27' fill='gray' font-size='18px' font-family='sans-serif'>₽</text></svg>");
  background-repeat: no-repeat;
}
