@import "@fontsource-variable/rubik" layer(base);
@import "@fontsource/fuzzy-bubbles" layer(base);
@import "@fontsource/roboto" layer(base);

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@iconify/tailwind4";
@plugin "daisyui";

/* Dark theme */
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(16% 0.008 326);
  --color-base-150: oklch(19% 0.01 325.6);
  --color-base-200: oklch(20% 0.015 323);
  --color-base-300: oklch(25% 0.019 322.12);
  --color-base-content: oklch(100% 0.05 325.885);
  /* oklch(97.807% 0.029 256.847); */
  --color-primary: rgb(151 71 255);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: rgb(
    46 139 87
  ); /* Same as used on calendar for my own bookings */
  --color-secondary-content: oklch(90% 0.093 164.15);
  --color-accent: oklch(74.703% 0.158 39.947);
  --color-accent-content: oklch(14.94% 0.031 39.947);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

/* Light theme */
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(99.5% 0 0);
  --color-base-150: oklch(98% 0.001 325.6);
  --color-base-200: oklch(96% 0.003 325.6);
  --color-base-300: oklch(92.2% 0.005 325.62);
  --color-base-content: oklch(20% 0.05 325.885);
  --color-primary: oklch(65% 0.25 298.01);
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: rgb(
    46 139 87
  ); /* Same as used on calendar for my own bookings */
  --color-secondary-content: oklch(90% 0.093 164.15);
  --color-accent: oklch(74.703% 0.158 39.947);
  --color-accent-content: oklch(14.94% 0.031 39.947);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

/* Detect theme for TailwindCSS "dark:" selector by data-theme="dark" */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* TailwindCSS theme declaration */
@theme {
  --font-rubik: "Rubik Variable", sans-serif;
  --font-handwritten: "Fuzzy Bubbles", sans-serif;

  --breakpoint-3xl: 112rem;
  --breakpoint-4xl: 128rem;

  --color-brand-gradient-start: rgb(154 46 255); /* #9A2EFF */
  --color-brand-gradient-end: rgb(209 35 162); /* #D1233E */

  --animate-booking-fake-progress: fake-progress 50s linear;
  --animate-booking-fake-progress-fast: fake-progress 5s linear;
  @keyframes fake-progress {
    from {
      width: 0%;
    }
    5% {
      width: 40%;
    }
    20% {
      width: 80%;
    }
    40% {
      width: 95%;
    }
    to {
      width: 100%;
    }
  }

  --animate-booking-error: booking-error 40s linear infinite;
  @keyframes booking-error {
    0% {
      transform: rotateX(25deg) translate3d(0, 0vh, 0);
      opacity: 1;
    }
    100% {
      transform: rotateX(25deg) translate3d(0, -320vh, -1200px);
      opacity: 0;
    }
  }
}

@layer base {
  :root {
    accent-color: var(--color-primary);
    @apply font-rubik;
  }

  /*
    The default border color has changed to `currentcolor` in Tailwind CSS v4,
    so we've added these compatibility styles to make sure everything still
    looks the same as it did with Tailwind CSS v3.

    If we ever want to remove these styles, we need to add an explicit border
    color utility to any element that depends on these defaults.
  */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-base-300, currentcolor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer; /* Show pointer on buttons */
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-base/50); /* Make input placeholder gray */
  }
}

/* Gradient near primary brand color */
@utility selected {
  @apply from-brand-gradient-start to-brand-gradient-end bg-linear-to-r bg-clip-text text-transparent;
}

/* Remove quotes characters from blockquote in TailwindCSS prose */
@utility prose-quoteless {
  blockquote p:first-of-type::before,
  blockquote p:first-of-type::after {
    content: none !important;
  }
}

@layer components {
  /* Add rubles icon for Scholarship calculator */
  .rubles-input {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='48px' width='224px'><text x='196' y='27' fill='gray' font-size='18px' font-family='sans-serif'>₽</text></svg>");
    background-repeat: no-repeat;
  }
}

/*
  Try to optimize DaisyUI Countdown (still requires too much CPU & GPU)
  Source: https://github.com/saadeghi/daisyui/issues/2404#issuecomment-2097665681
*/
@utility countdown {
  & > * {
    &:before {
      transform: translateY(calc(var(--first-digits) * -1em));
      display: inline-flex;
      top: unset;
    }
    &:after {
      transform: translateY(calc(var(--value-ones) * -1em));
      top: unset;
    }
  }
}

.cursor-hidden,
.cursor-hidden * {
  cursor: none !important;
}

@utility skeleton {
  @apply bg-base-200 rounded-box animate-pulse;
  .skeleton {
    @apply bg-base-300;
  }
}

@utility loading-6xl {
  width: calc(var(--size-selector, 0.25rem /* 4px */) * 16);
}
