.custom-preview-scrollbar::-webkit-scrollbar {
  width: 15px;
}

.custom-preview-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-preview-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.custom-preview-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.font-inter {
  font-family: "Inter", sans-serif;
}
