.search-field {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: "white";
}

.search-textarea {
  line-height: 1.5em;
  min-width: 600px;
  max-width: 600px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari и Opera */
}

.search-result {
  display: flex;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.sources {
  font-size: 1em;
  margin-top: auto;
}

.moodle-response {
  display: flex;
  flex-direction: row;

  gap: 5px;
}

@media (max-width: 1431px) {
  /* .pdf-preview-elem {
    overflow-x: scroll;
  } */

  .pdf-preview-elem2 {
    max-width: 600px;
    overflow-x: scroll;
  }
}

@media (max-width: 1375px) {
  /* .pdf-preview-elem {
    overflow-x: scroll;
  } */

  .pdf-preview-elem2 {
    max-width: 500px;
    overflow-x: scroll;
  }
}

@media (max-width: 1200px) {
  /* .pdf-preview-elem {
    overflow-x: scroll;
  } */

  .pdf-preview-elem2 {
    max-width: 400px;
    overflow-x: scroll;
  }
}

.custom-preview-scrollbar {
  background-color: #fdfdfd;
  border-radius: 6px;
  box-shadow: 0 4px 28px rgba(123, 151, 158, 0.25);
}

.custom-preview-scrollbar::-webkit-scrollbar {
  width: 15px;
}

.custom-preview-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.custom-preview-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.custom-preview-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
