$font-sans:
  IBM Plex Sans,
  Inter,
  -apple-system,
  Segoe UI,
  Roboto,
  Noto Sans,
  Ubuntu,
  Cantarell,
  Helvetica Neue;

$font-mono:
  IBM Plex Mono,
  ui-monospace,
  SFMono-Regular,
  SF Mono,
  Menlo,
  Monaco,
  Consolas,
  Liberation Mono,
  monospace;

@mixin text-sans {
  font-family: var(--font-sans);
}
@mixin text-mono {
  font-family: var(--font-mono);
}