/* specific */

.noXOverflowFrame_full {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.doubleScreenContainer {
  width: 200%;
  height: inherit;
  display: flex;
}

.ordinaryScreen {
  padding: var(--main-padding);
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  display: flex;
}

.ordinaryScreen__contentSizeRestrictor {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  max-height: 800px;
  display: flex;
  justify-content: space-between;
}

.headline {
  display: flex;
  align-items: center;
  height: fit-content;
}

.button {
  user-select: none;
  width: fit-content;
  background-color: var(--button-color);
  padding: var(--button-padding);
  border-radius: var(--button-rounding);
  cursor: pointer;
  transition: background-color 250ms;
}

.button:hover {
  background-color: var(--color-primary);
}

.dropContainer {
  max-width: 600px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.dropArea {
  width: 100%;
  height: 100%;
  margin-bottom: var(--main-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-color: var(--drop-area-color);
  color: var(--drop-area-color);
  border-width: var(--drop-area-border-width);
  border-radius: var(--drop-area-rounding);
  overflow: hidden;
}

.backgroundIcon {
  width: 50%;
  height: 50%;
}

@keyframes uploading {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.rotationAnimation {
  animation: uploading 3s linear infinite;
}

.pdfPreview {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 250ms;
}

.insensible {
  opacity: 0;
  pointer-events: none;
}

.textGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: var(--text-grid-gap);
  width: 100%;
  height: fit-content;
  padding: var(--main-padding);
  box-sizing: border-box;
}

.textGrid__elem {
  text-align: center;
  line-height: 3em;
  background-color: var(--color-secondary);
  border-radius: var(--text-grid-elem-rounding);
  color: var(--color-secondary-content);
  font-weight: var(--font-weight-bold);
}

.configurationBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.configurationBox__scrollPart {
  height: 60%;
  overflow-y: auto;
}

.scrollPart__elem {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: var(--form-point-margin);
}

.scrollPart__elem:first-of-type {
  margin-top: 0;
}

.switch {
  --height: 36px;
  --point-height: 24px;
  height: var(--height);
  width: calc(2 * var(--height));
  background-color: var(--button-color);
  border-radius: var(--height);
  padding: calc((var(--height) - var(--point-height)) / 2);
  transition: all 250ms;
  cursor: pointer;
}

.switch_on {
  background-color: var(--color-secondary);
}

.switchPoint {
  width: var(--point-height);
  height: var(--point-height);
  background-color: var(--color-base-content);
  border-radius: var(--point-height);
  transition: all 250ms;
}

.switch_on .switchPoint {
  background-color: var(--color-secondary-content);
  transform: translateX(var(--height));
}
