.webPrintPage {
  --button-color: #333539;
  --drop-area-color: #202123;

  --main-padding: 16px;
  --button-padding: 4px 14px;
  --select-padding: 6px;
  --button-horizontal-padding: 14px;
  --text-grid-gap: 14px;

  --selectedcontent-icon-margin: 4px;
  --form-point-margin: 10px;
  --button-left-margin: 8px;

  --drop-area-border-width: 7px;

  --button-rounding: 12px;
  --select-rounding: 8px;
  --text-grid-elem-rounding: 6px;
  --drop-area-rounding: 80px;

  --after-arrow-width: 16px;

  --button-font-size: 22px;
}

[data-theme="light"] .webPrintPage {
  --button-color: #e4e7ec;
  --drop-area-color: #e4e7ec;
  --color-primary: #e1cefd;
}

:global(#fileToBePrinted) {
  display: none;
}
