.leftMargin_8 {
  margin-left: var(--button-left-margin);
}

.leftMargin_buttonHorizontalPadding {
  margin-left: var(--button-horizontal-padding);
}

.bottomMargin_doubleMainPadding {
  margin-bottom: calc(var(--main-padding) * 2);
}
