.headFont {
  font-size: 30px;
  font-weight: var(--font-weight-medium);
}

.buttonFont {
  font-size: var(--button-font-size);
  font-weight: var(--font-weight-medium);
  color: var(--color-base-content);
}

.formPointFont {
  font-family: Roboto, sans-serif;
  margin-right: var(--form-point-margin);
}
