.input {
  field-sizing: content;
  max-width: 280px;
  border: none;
  outline: none;
  background-color: var(--button-color);
  padding: var(--select-padding) calc(var(--select-padding) * 3);
  cursor: text;
  appearance: textfield;
}

.input_rounded {
  border-radius: var(--select-rounding);
}

.inputPadding {
  padding: var(--select-padding) calc(var(--select-padding) * 3);
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  appearance: none;
}

.button_inline {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--select-rounding) 0 0 var(--select-rounding);
}

.button_inline + .input + .button_inline {
  border-radius: 0 var(--select-rounding) var(--select-rounding) 0;
}

.intContainer {
  display: flex;
}
